@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900,900i&display=swap');
body, html{
  background-color:#fa9a84;
  margin:0px;
}

*{
  font-family:'Roboto';
}
.halfcircle{
  display:flex;
  justify-content: flex-start;
  z-index:-3;
}
.mousse{
  position: relative;
  letter-spacing: 20px;
  font-style: italic;
  font-weight: 900;
  font-size: 130px;
  margin-top: -1530px;
  margin-left: 50px;
}

.roastedandground{
  position: relative;
  color: #6bc5cf;
  font-size: 100px;
  font-weight: 700;
  line-height: 10px;
  margin-left: 50px;
  margin-top: -130px;
}

.RM{
  position: relative;
  font-weight: 900;
  font-style: italic;
  color:#fff;
  text-decoration: underline;
  font-size: 400px;
  margin-top: -400px;
  margin-left: -110px;
}

.two{
  position: relative;
  font-weight: 500;
  font-size: 80px;
  color: #fa9a84;
  z-index: -1;
  /*margin-left: 20px;*/
}

span{
  display: block;
  border-color: #f7cdc3;
  border-radius:50px;
  background-color: #f7cdc3;
  text-align: center;
}

#circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.seeds{
  display:flex;
  position:relative;
  font-size: 100px;
  font-weight:900;
  justify-content: center;
  margin-top: -900px;
}

.cacao{
  position: relative;
  color:#fff;
  font-size: 300px;
  font-weight: 300;
  letter-spacing: -10px;
  transform:rotate(90deg);
  z-index: 0;
  margin-top:400px;
  margin-right:-400px;
}

.BC{
  position:relative;
  color: #fff;
  font-size:240px;
  font-weight:900;
  transform:rotate(90deg);
  margin-top:-330px;
  margin-right:-1000px;
}

.triangle{
  display: flex;
  justify-content: flex-end;
  margin-top: -200px;
}

.arrow{
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.chocolate{
  font-size: 100px;
  font-style: italic;
  color: rgb(250,213,137);
  margin-left: 700px;
  margin-top: -200px;
}
