/*imports roboto font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900,900i&display=swap');
/*makes the background color and sets margins of body*/
body, html{
  background-color:#fa9a84;
  margin:0px;
}

/*sets font family of entire page*/
*{
  font-family:'Roboto';
}

/*sets position of yellow half cirlce img at the top of the page*/
.halfcircle{
  display:flex;
  justify-content: flex-start;
  z-index:-3;
}

/*sets the placement of the word mouse. It also sets the font size and letter spacing*/
.mousse{
  position: relative;
  letter-spacing: 20px;
  font-style: italic;
  font-weight: 900;
  font-size: 130px;
  margin-top: -1530px;
  margin-left: 50px;
}

/*sets the position and font size of the blue roasted and ground words.*/
.roastedandground{
  position: relative;
  color: rgb(150, 204, 211);
  font-size: 100px;
  font-weight: 700;
  line-height: 10px;
  margin-left: 50px;
  margin-top: -130px;
}

/*sets the placement and color of the rm word. Also the underline for the rm. */
.RM{
  position: relative;
  font-weight: 900;
  font-style: italic;
  color:#fff;
  text-decoration: underline;
  font-size: 400px;
  margin-top: -400px;
  margin-left: -110px;
}

/*class for the 2 in the span element*/
.twospan{
  position: ralative;
  font-weight: 500;
  font-size: 80px;
  color: #fa9a84;
  z-index: -1;
  /*margin-left: 20px;*/
}

/*sets the display of the span element. The span element helps make the circle*/
span{
  display:block;
  border-color: #f7cdc3;
  border-radius:50px;
  background-color: #f7cdc3;
  text-align: center;
}

#circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -800px;
  margin-left: 550px;

}

.seeds{
  display:flex;
  position:relative;
  font-size: 100px;
  font-weight:900;
  justify-content: center;
  margin-top: -100px;
  margin-bottom:0px;
}

.cacao{
  position: relative;
  color:#fff;
  font-size: 300px;
  font-weight: 300;
  letter-spacing: -10px;
  transform:rotate(90deg);
  z-index: 0;
  margin-top:400px;
  margin-right:-400px;
}

.BC{
  position:relative;
  color: #fff;
  font-size:240px;
  font-weight:900;
  transform:rotate(90deg);
  margin-top:-330px;
  margin-right:-1000px;
}

.triangle{
  margin-left: 400px;
  margin-top:0px;
}

.arrow{
  display: flex;
  justify-content: center;
  margin-top: -100px;
}

.chocolate{
  font-size: 100px;
  font-style: italic;
  color: rgb(250,213,137);
  margin-left: 700px;
  margin-top: -300px;
}
